{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% load tz %}
{% block title %}Detail Recipe{% endblock title %}
{% block content %}

        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{recipe.title}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{ recipe.date|localtime }} by {{recipe.author}}. </div>
                            <!-- Post categories-->
                            <div>
                                {% for category in recipe.categories.all %}
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#">{{ category.name }}</a>
                                {% endfor %}
                            </div>
                            <!-- Post views-->
                            <div class="text-muted fst-italic mb-2">Views: {{ recipe.hit_count.hits }}</div>
                        </header>
                        <!-- Preview image figure-->
                        {% load thumbnail %}
                        <figure class="mb-4">
                            {% thumbnail recipe.image "800x300" crop="center" as im %}
                            <img class="card-img-top" src="{{ im.url }}" alt="{{ recipe.title }}" />
                        </figure>
                        {%endthumbnail%}
                        <!-- Post content-->
                        <section class="mb-5">
                            <p><strong>Preparation Time:</strong> {{ recipe.prep_time|human_readable_duration }}</p>
                            <p><strong>Cooking Time:</strong> {{ recipe.cook_time|human_readable_duration }}</p>
                            <p><strong>Total Time:</strong> {{ recipe.total_time|human_readable_duration }}</p>
                            <p><strong>Servings:</strong> {{ recipe.servings }}</p>
                            <h2>Ingredients</h2>
                            <ul>
                                {% for ingredient in ingredients %}
                                <li>{{ ingredient.quantity }} {{ ingredient.item }}</li>
                                {% endfor %}
                            </ul>

                            <h2>Instructions</h2>
                            <ol>
                                {% for instruction in instructions %}
                                    <li>{{ instruction.step }}</li>
                                {% endfor %}
                            </ol>
                            
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <h2>Comments</h2>
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                {% if user.is_authenticated %}
                                    <form class="mb-4" method="post" action="{% url 'recipe_detail' recipe.pk %}">
                                        {% csrf_token %}
                                        {{ comment_form|crispy }}
                                        <button type="submit" class="btn btn-primary">Submit Comment</button>
                                    </form>
                                {% else %}
                                    <p> <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign Up</a> to leave a comment.</p>
                                {% endif %}
                                <!-- Display comments -->
                                {% for comment in comments %}
                                    <div class="d-flex mb-4">
                                        <div class="flex-shrink-0">
                                            <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                                        </div>
                                        <div class="ms-3">
                                            <div class="fw-bold">{{ comment.author.username }}</div>
                                            {{ comment.text }}
                                            <div class="text-muted fst-italic">{{ comment.date|localtime|date:"F j, Y, g:i a" }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
                <!-- Side widgets-->

            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
{%endblock%}