<!-- base.html -->
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chef Masters</title>
  <!-- Favicon-->
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-title" href="{% url 'home' %}">
            <img src="{% static 'images/Icon2.png' %}" alt="Icon" style="height: 40px; margin-right: 10px;">Chef Masters</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                <li class="nav-item"><a class="nav-link" href="#">My Recipes</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'create_recipe'%}">+ Add Recipe</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                          <li><a class="dropdown-item" href="#">Change password</a></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li> Log out
                              <form method="post" action="{% url 'logout' %}" style="display:inline;">
                                {% csrf_token %}
                                  <button type="submit" class="btn btn-link nav-link" style="display:inline; cursor:pointer;">Logout</button>
                              </form>
                          </li>
                      </ul>
                    {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign up</a></li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </nav>
  <!-- Page content-->
  <main>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </main>
  <!-- Bootstrap JavaScript Bundle -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</body>
</html>